<section>
    <div class="mt-20">
        <p>I also do open-source sometimes</p>
        <p class="flex items-center gap-1">
            Recent contributions:
            <a
                href="https://github.com/microsoft/vscode/pull/184603"
                target="_blank"
                rel="noopener noreferrer"
                class="bg-[#222] flex items-center gap-1 w-fit text-base px-1.5 rounded-md"
            >
                <img
                    src="./logos/vscode.png"
                    alt="vs code"
                    class="w-5 h-5 object-contain"
                />
                VS Code
            </a>
        </p>
    </div>

    <div class="mt-20">
        <p class="text-xl font-thin text-center">
            connect with me at:
            <a href="mailto:kevalpm@gmail.com" class="font-normal underline"
                >kevalpm@gmail.com</a
            >
        </p>
    </div>
</section>
