<footer
    class="mt-20 flex justify-center items-center flex-col-reverse md:flex-row md:justify-between gap-4"
>
    <p class="flex items-center gap-1">
        Made with <img
            src="./logos/astro.png"
            alt="Astro"
            class="w-6 h-6 object-contain"
        /> Astro! by @kevalmiistry
    </p>

    <div class="flex items-center justify-end gap-2">
        <a
            href="https://github.com/kevalmiistry/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="./icons/github.svg" alt="GitHub" class="w-6 h-6" />
        </a>
        <a
            href="https://x.com/kevalmiistry"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="./icons/x.svg" alt="X" class="w-6 h-6" />
        </a>
        <a
            href="https://linkedin.com/in/kevalmiistry"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="./icons/linkedin.svg" alt="LinkedIn" class="w-6 h-6" />
        </a>
        <a
            href="https://www.instagram.com/kevalmiistry"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="./icons/instagram.svg" alt="Instagram" class="w-6 h-6" />
        </a>
    </div>
</footer>
