<section>
    <h1 class="text-3xl font-semibold">Hi 👋</h1>
    <h1 class="mt-2 text-4xl font-bold">I'm Keval</h1>
    <p class="mt-6 leading-6 text-gray-200">
        And I'm a passionate web developer🕷 with over 3 years of individual
        experience and more than 1.5 years of professional work experience
        building web applications that are clean, robust and most importantly
        reliable. My sweet spot is Frontend and I'm all about React and its
        ecosystem.
        <br />
        <br />
        I specialize in building complex dashboards involving complex data flows.
        While the frontend is my forte, I also have handful of experience working
        with backend stuff.
        <br />
        <br />
        If you're looking for someone who can take on frontend challenges from day
        one and pitch in on backend when needed, you have found the right person.
        <br />
        Let’s connect at
        <a href="mailto:kevalpm@gmail.com" class="font-normal underline">
            kevalpm@gmail.com
        </a>
    </p>
    <a
        href="https://drive.google.com/file/d/1H64oxC0wgOcFMepI9q00ATbmITH6KTMC/view?usp=sharing"
        download="Keval Mistry - Resume - 2024.pdf"
        target="_blank"
        class="border-2 rounded-lg px-4 py-2 flex justify-center items-center border-white w-fit mt-6 hover:bg-white hover:text-[#111] transition-all font-medium"
        rel="noopener noreferrer"
    >
        Resume
    </a>
</section>
