---
import { icons } from "../IconLinkChips/index"
import BulletPoint from "../BulletPoint.astro"
---

<section class="mt-40">
    <p class="text-2xl font-medium">Work Experience</p>
    <div class="w-full border-t mb-6 border-gray-500"></div>

    <div>
        <p class="text-3xl font-medium flex items-center gap-2 mb-4">
            <img src="./logos/culturex_logo.png" alt="logo" class="w-6" />
            CultureX Entertainment Pvt. Ltd.
        </p>

        <div class="flex mb-2 items-center gap-1 relative w-fit">
            <span class="text-base font-normal">
                Full-Stack Developer · Full-Time
            </span>
            <p class="font-thin text-gray-200 text-sm">| Aug-23 - Present</p>

            <span
                class="absolute bottom-0 left-0 right-0 border-b border-slate-400"
            ></span>
        </div>

        <div
            class="pl-[1px] mt-2 ml-4 bg-gradient-to-b from-[#4d4d4d] from-75% to-transparent to-100%"
        >
            <div class="list-disc bg-[#111] text-gray-200 pb-5">
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Increased frontend project's development build speed by <strong
                        >10-100x</strong
                    >
                    and production build speed by <strong>2x</strong> by migrating
                    react codebase from <icons.reactjs text="CRA" /> to <icons.vite
                    />.
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Migrated the frontend project from <icons.bootstrap /> to <icons.tailwind
                    />, resulting in a <strong>50-100%</strong> increase in team's
                    efficiency in frontend development. This migration also enabled
                    seamless integration of modern UI solutions like
                    <icons.shadcn /> bringing our frontend on the par with industry
                    standards.
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Created a node microservice to generate clean & beautiful looking
                    reports in PDF format on the fly, which became one of the major
                    USPs of the company's SaaS platform. A solution made out of combining
                    technologies like <icons.puppeteer /> and <icons.reactjs /> which
                    generates PDF reports like these:
                    <a
                        href="https://drive.google.com/file/d/19E3V9FRGICkZlj3SybI-9jXnHMqXn7M6/view?usp=sharing"
                        target="_blank"
                        class="underline"
                        rel="noopener noreferrer"
                    >
                        Example-1
                    </a>,
                    <a
                        href="https://drive.google.com/file/d/1EE4LqkLFoq1dsCO17mQNAxFa9smbGulG/view?usp=sharing"
                        target="_blank"
                        class="underline"
                        rel="noopener noreferrer"
                    >
                        Example-2
                    </a>,
                    <a
                        href="https://drive.google.com/file/d/1l6C0nbTxD60e1RIH5F06gcZMGcraxOHp/view?usp=sharing"
                        target="_blank"
                        class="underline"
                        rel="noopener noreferrer"
                    >
                        Example-2
                    </a>
                </p>
            </div>
        </div>

        <div class="flex mt-5 items-center gap-1 relative w-fit">
            <span class="text-base font-normal">
                Frontend Developer · Internship
            </span>
            <p class="font-thin text-gray-200 text-sm">| Jan-23 - Jul-23</p>

            <span
                class="absolute bottom-0 left-0 right-0 border-b border-slate-400"
            ></span>
        </div>

        <div class="pl-[1px] mt-2 ml-4 bg-[#4d4d4d]">
            <div class="list-disc bg-[#111] text-gray-200">
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Replicated <icons.figma /> designs into high quality functional
                    UI with <icons.reactjs />
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Revamped whole frontend project's structure by centralizing control
                    of theme and feature related configs, enabling it to be white-labeled
                    for multiple clients
                </p>
            </div>
        </div>
    </div>
</section>
