---
import LinkItem from "../LinkItem.astro"
---

<section class="mt-40">
    <p class="text-2xl font-medium">Work Experience</p>
    <div class="w-full border-t mb-6 border-gray-500"></div>

    <div class="pl-2">
        <p class="text-3xl font-medium flex items-center gap-2 flex-wrap">
            1. CultureX Entertainment Pvt. Ltd.
        </p>
        <p class="font-thin italic text-gray-200 text-sm">
            30-Jan-23 to 31-Jul-23 · Internship | 01-Aug-23 to Present ·
            Full-Time
        </p>
        <span
            class="bg-[#4d4d4d] mt-1 w-fit px-2 rounded-full pb-0.5 text-base flex items-center justify-center font-normal"
            >Frontend Developer</span
        >

        <div
            class="pl-[1px] mt-2 ml-2 bg-gradient-to-b from-[#4d4d4d] from-75% to-transparent to-100%"
        >
            <div class="list-disc bg-[#111] text-gray-200 pb-5">
                <p class="relative pl-3 mb-4">
                    <span
                        class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                    ></span>
                    I had joined CultureX as frontend intern where my job was to
                    transform <LinkItem
                        link="https://www.figma.com/"
                        img="figma.png"
                        text="Figma"
                    />
                    designs into production ready UI with
                    <LinkItem
                        link="https://react.dev/"
                        img="react.png"
                        text="Reactjs"
                    />
                </p>
                <p class="relative pl-3 mb-4">
                    <span
                        class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                    ></span>
                    After my internship period my role was converted to full-time
                    developer and i took majority of frontend codebase's responsibility.
                </p>
                <p class="relative pl-3 mb-4">
                    <span
                        class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                    ></span>
                    I migrated company's two <LinkItem
                        link="https://legacy.reactjs.org/docs/create-a-new-react-app.html"
                        img="react.png"
                        text="CRA"
                    /> (create-react-app) projects to <LinkItem
                        link="https://vitejs.dev/"
                        img="vite.png"
                        text="Vite"
                    /> and increased development build speed by 10-100x and production
                    build speed by 2x
                </p>
                <p class="relative pl-3 mb-4">
                    <span
                        class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                    ></span>
                    I migrated project from <LinkItem
                        link="https://getbootstrap.com/"
                        img="bootstrap.png"
                        text="Bootstrap"
                    /> to <LinkItem
                        link="https://tailwindcss.com/"
                        img="tw.png"
                        text="Tailwind"
                    /> which allowed us to develop UI at much faster pace & also
                    allowed us to use tailwind dependent UI solutions like <LinkItem
                        link="https://ui.shadcn.com/"
                        img="shad-cn.png"
                        text="Shad-cn"
                    />
                </p>
                <p class="relative pl-3 mb-4">
                    <span
                        class="absolute w-[7px] -left-[4px] h-[7px] rounded-full top-2 bg-[#4d4d4d]"
                    ></span>
                    I created a micro-service to generate PDF file by leveraging
                    packages like <LinkItem
                        link="https://pptr.dev/"
                        img="puppeteer.png"
                        text="Puppeteer"
                    /> & <LinkItem
                        link="https://react.dev/"
                        img="react.png"
                        text="Reactjs"
                    /> which looks like
                    <a
                        href="https://drive.google.com/file/d/1vIsIXU9jf7VaDsXMfXFlaiT3G8nr1pP4/view?usp=sharing"
                        download="ig-mrbeast.pdf"
                        target="_blank"
                        class="underline"
                        rel="noopener noreferrer">this</a
                    > &
                    <a
                        href="https://drive.google.com/file/d/1zXw6FtowhSzOxRHEKmg-Jug8XxxcXvvx/view?usp=sharing"
                        download="yt-mrbeast.pdf"
                        target="_blank"
                        class="underline"
                        rel="noopener noreferrer">this</a
                    >
                </p>
            </div>
        </div>
    </div>
</section>
