---
import BulletPoint from "../BulletPoint.astro"
---

<section class="mt-40">
    <p class="text-2xl font-medium">Work Experience</p>
    <div class="w-full border-t mb-6 border-gray-500"></div>

    <div>
        <p class="text-3xl font-medium flex items-center gap-2 mb-4">
            <img src="./logos/culturex_logo.png" alt="logo" class="w-6" />
            CultureX Entertainment Pvt. Ltd.
        </p>

        <div
            class="flex mb-2 items-center justify-between gap-4 relative w-full"
        >
            <span class="text-base font-normal">
                Frontend Engineer | Full-Time
            </span>
            <p class="font-thin text-gray-200 text-sm">AUGUST 2023 - Present</p>

            <span
                class="absolute bottom-0 left-0 right-0 border-b border-slate-400"
            ></span>
        </div>

        <div
            class="pl-[1px] mt-4 ml-4 bg-gradient-to-b from-[#4d4d4d] from-75% to-transparent to-100%"
        >
            <div
                class="bg-[#111] text-gray-200 pb-5 font-extralight [&_strong]:font-semibold"
            >
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Developed and <strong>launched 3+ MVPs</strong>, securing
                    the company's <strong>first clients</strong>, driving
                    <strong>revenue growth</strong>, and <strong
                        >laying the foundation</strong
                    >
                    for the company's <strong
                        >Influencer Marketing Platform.</strong
                    >
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    <strong>Revamped</strong> the <strong
                        >frontend architecture</strong
                    > of a <strong>React.js</strong> app to support <strong
                        >white-labeling</strong
                    >, centralizing configurations (<strong
                        >branding, logos, colors</strong
                    >) and reducing customization time by <strong>50%</strong> (from
                    <strong>16-20 hours</strong> to <strong>~2-3 hours</strong
                    >), resulting in a <strong
                        >2x faster client onboarding</strong
                    > and accelerated <strong>sales closures</strong>.
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    <strong>Migrated</strong> frontend codebase from <strong
                        >Create React App (CRA)</strong
                    > with <strong>Bootstrap</strong> to <strong>Vite</strong> with
                    <strong>Tailwind CSS</strong>, achieving <strong
                        >10-100x</strong
                    > faster development builds and <strong>2x</strong> faster production
                    builds, while boosting team efficiency by <strong
                        >50-100%</strong
                    >. This upgrade enabled <strong
                        >rapid feature delivery</strong
                    >, reduced time-to-market, and significantly <strong
                        >enhanced UI/UX</strong
                    >, <strong>accelerating platform adoption</strong> and <strong
                        >customer satisfaction</strong
                    >.
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Built a <strong>Node.js microservice</strong> leveraging <strong
                        >Puppeteer + React.js</strong
                    >
                    to generate clean, professional <strong>PDF</strong> reports
                    on the fly, which evolved into a core <strong
                        >value proposition</strong
                    > of the SaaS platform and a key driver in <strong
                        >enterprise client adoption and retention</strong
                    >.
                    <br />
                    Sample Reports:
                    <strong>
                        <a
                            href="https://drive.google.com/file/d/19E3V9FRGICkZlj3SybI-9jXnHMqXn7M6/view?usp=sharing"
                            target="_blank"
                            class="underline"
                            rel="noopener noreferrer"
                        >
                            Example-1
                        </a>,
                        <a
                            href="https://drive.google.com/file/d/1EE4LqkLFoq1dsCO17mQNAxFa9smbGulG/view?usp=sharing"
                            target="_blank"
                            class="underline"
                            rel="noopener noreferrer"
                        >
                            Example-2
                        </a>,
                        <a
                            href="https://drive.google.com/file/d/1l6C0nbTxD60e1RIH5F06gcZMGcraxOHp/view?usp=sharing"
                            target="_blank"
                            class="underline"
                            rel="noopener noreferrer"
                        >
                            Example-2
                        </a>
                    </strong>
                </p>

                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    As one of two frontend engineers, <strong
                        >co-led and shipped the entire dashboard</strong
                    > (multi-tenant with <strong
                        >logo/email/domain white-labeling</strong
                    >), delivering <strong
                        >30+ modules, owning ~50% of the FE code</strong
                    >, and <strong
                        >accelerating growth from zero to 100+ customers</strong
                    >
                    through <strong>deal-winning enterprise features</strong> and
                    <strong>technical leadership</strong>
                </p>
            </div>
        </div>
    </div>
</section>
