---
import { icons } from "../IconLinkChips/index"
import BulletPoint from "../BulletPoint.astro"
---

<section class="mt-40">
    <p class="text-2xl font-medium">Work Experience</p>
    <div class="w-full border-t mb-6 border-gray-500"></div>

    <div class="pl-2">
        <p class="text-3xl font-medium flex items-center gap-2 flex-wrap">
            CultureX Entertainment Pvt. Ltd. (Internship)
        </p>
        <p class="font-thin italic text-gray-200 text-sm">
            30-Jan-23 to 31-Jul-23
        </p>
        <span
            class="bg-[#4d4d4d] mt-1 w-fit px-2 rounded-full pb-0.5 text-base flex items-center justify-center font-normal"
        >
            Frontend Developer
        </span>

        <div class="pl-[1px] mt-2 ml-2 bg-[#4d4d4d]">
            <div class="list-disc bg-[#111] text-gray-200">
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Replicated <icons.figma /> designs into high quality functional
                    UI with <icons.reactjs />
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Revamped whole frontend project's structure by centralizing control
                    of theme and feature related configs, enabling it to be white-labeled
                    for multiple clients
                </p>
            </div>
        </div>
    </div>

    <div class="pl-2 mt-10">
        <p class="text-3xl font-medium flex items-center gap-2 flex-wrap">
            CultureX Entertainment Pvt. Ltd. (Full-Time)
        </p>
        <p class="font-thin italic text-gray-200 text-sm">
            01-Aug-23 to Present
        </p>
        <span
            class="bg-[#4d4d4d] mt-1 w-fit px-2 rounded-full pb-0.5 text-base flex items-center justify-center font-normal"
        >
            Full-Stack Developer
        </span>

        <div
            class="pl-[1px] mt-2 ml-2 bg-gradient-to-b from-[#4d4d4d] from-75% to-transparent to-100%"
        >
            <div class="list-disc bg-[#111] text-gray-200 pb-5">
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Increased frontend project's development build speed by <strong
                        >10-100x</strong
                    >
                    and production build speed by <strong>2x</strong> by migrating
                    react codebase from <icons.reactjs text="CRA" /> to <icons.vite
                    />.
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Migrated the frontend project from <icons.bootstrap /> to <icons.tailwind
                    />, resulting in a <strong>50-100%</strong> increase in team's
                    efficiency in frontend development. This migration also enabled
                    seamless integration of modern UI solutions like
                    <icons.shadcn /> bringing our frontend on the par with industry
                    standards.
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    Created a node micro-service to generate clean & beautiful looking
                    reports in PDF format on the fly, which became one of the major
                    USP of company's SaaS platform. A solution made out of combining
                    technologies like <icons.puppeteer /> and <icons.reactjs /> which
                    generates PDF reports like these:
                    <a
                        href="https://drive.google.com/file/d/1vIsIXU9jf7VaDsXMfXFlaiT3G8nr1pP4/view?usp=sharing"
                        download="ig-mrbeast.pdf"
                        target="_blank"
                        class="underline"
                        rel="noopener noreferrer"
                    >
                        example-1
                    </a>,
                    <a
                        href="https://drive.google.com/file/d/1zXw6FtowhSzOxRHEKmg-Jug8XxxcXvvx/view?usp=sharing"
                        download="yt-mrbeast.pdf"
                        target="_blank"
                        class="underline"
                        rel="noopener noreferrer"
                    >
                        example-2
                    </a>
                </p>
                <!-- <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    I had joined CultureX as frontend intern where my job was to
                    transform
                    <icons.figma /> designs into production ready UI with
                    <icons.reactjs />
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    After my internship period my role was converted to full-time
                    developer and i took majority of frontend codebase's responsibility.
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    I migrated company's two <icons.reactjs text="CRA" /> (create-react-app)
                    projects to <icons.vite /> and increased development build speed
                    by 10-100x and production build speed by 2x
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    I migrated project from <icons.bootstrap /> to <icons.tailwind
                    /> which allowed us to develop UI at much faster pace & also
                    allowed us to use tailwind dependent UI solutions like <icons.shadcn
                    />
                </p>
                <p class="relative pl-3 mb-4">
                    <BulletPoint />
                    I created a micro-service to generate PDF file by leveraging
                    packages like <icons.puppeteer /> & <icons.reactjs /> which looks
                    like
                    <a
                        href="https://drive.google.com/file/d/1vIsIXU9jf7VaDsXMfXFlaiT3G8nr1pP4/view?usp=sharing"
                        download="ig-mrbeast.pdf"
                        target="_blank"
                        class="underline"
                        rel="noopener noreferrer"
                    >
                        this
                    </a>
                    &
                    <a
                        href="https://drive.google.com/file/d/1zXw6FtowhSzOxRHEKmg-Jug8XxxcXvvx/view?usp=sharing"
                        download="yt-mrbeast.pdf"
                        target="_blank"
                        class="underline"
                        rel="noopener noreferrer"
                    >
                        this
                    </a>
                </p> -->
            </div>
        </div>
    </div>
</section>
