---
import Layout from "../layouts/Layout.astro"
import IntroSection from "../components/sections/IntroSection.astro"
import WorkSection from "../components/sections/WorkSection.astro"
import ProjectsSection from "../components/sections/ProjectsSection.astro"
import ToolsAndTechnologiesSection from "../components/sections/ToolsAndTechnologiesSection.astro"
import ContactAndOtherSection from "../components/sections/ContactAndOtherSection.astro"
import FooterSection from "../components/sections/FooterSection.astro"
---

<Layout title="Keval Mistry">
    <main class="max-w-[700px] px-5 pt-20 pb-10 mx-auto">
        <IntroSection />

        <WorkSection />

        <ProjectsSection />

        <ToolsAndTechnologiesSection />

        <ContactAndOtherSection />

        <FooterSection />
    </main>
</Layout>
