---
interface Props {
    link: string
    img: string
    text: string
}

const { img, link, text } = Astro.props
---

<a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="inline-flex bg-[#222] items-center text-sm gap-1 w-fit border rounded px-1 border-gray-700"
>
    <img src={`./logos/${img}`} alt={text} class="w-[14px] h-[14px]" />
    {text}
</a>
