---
interface Props {
    img: string
    text: string
}

const { img, text } = Astro.props
---

<div
    class="flex w-fit items-center justify-center gap-1 bg-[#222] border px-1 pr-3 rounded-full py-1 border-gray-700"
>
    <img src={img} alt={text} class="rounded-full max-w-[30px] max-h-[30px]" />
    <p class="truncate">{text}</p>
</div>
