---
interface Props {
    idx: number
    item: {
        src: string
        alt: string
    }
}

const { idx, item } = Astro.props
---

<div
    class={`group relative z-[${10 - idx}] -ml-3 h-[34px] w-[34px] rounded-full border-2 transition-all hover:z-20 hover:-translate-y-1 hover:scale-110`}
>
    <img src={item.src} alt={item.alt} class="object-contain" />
    <span
        class="border border-gray-400 absolute left-1/2 top-0 w-max -translate-x-1/2 rounded bg-gray-600 p-0 px-1.5 text-xs opacity-0 transition-all group-hover:-top-full group-hover:opacity-100"
    >
        {item.alt}
    </span>
</div>
