---
interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Keval Miistry's profolio!" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/Geist-Black.woff2") format("woff2"),
            url("/fonts/Geist-Black.otf") format("opentype");
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/Geist-Bold.woff2") format("woff2"),
            url("/fonts/Geist-Bold.otf") format("opentype");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/Geist-Light.woff2") format("woff2"),
            url("/fonts/Geist-Light.otf") format("opentype");
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/Geist-Medium.woff2") format("woff2"),
            url("/fonts/Geist-Medium.otf") format("opentype");
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/Geist-Regular.woff2") format("woff2"),
            url("/fonts/Geist-Regular.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/Geist-SemiBold.woff2") format("woff2"),
            url("/fonts/Geist-SemiBold.otf") format("opentype");
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/Geist-Thin.woff2") format("woff2"),
            url("/fonts/Geist-Thin.otf") format("opentype");
        font-weight: 100;
        font-style: normal;
    }

    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/Geist-UltraBlack.woff2") format("woff2"),
            url("/fonts/Geist-UltraBlack.otf") format("opentype");
        font-weight: 950;
        font-style: normal;
    }

    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/Geist-UltraLight.woff2") format("woff2"),
            url("/fonts/Geist-UltraLight.otf") format("opentype");
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: "Geist-Sans";
        src:
            url("/fonts/GeistVariableVF.woff2") format("woff2"),
            url("/fonts/GeistVariableVF.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }

    html {
        font-family: "Geist-Sans", sans-serif;
        background: #111;
        color: #fff;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid #111;
        background: #777;
        border-radius: 50vw;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
</style>
